In [1]:
import pandas as pd
from tqdm import tqdm
import ast
import numpy as np

In [2]:
df = pd.read_csv('../data/nyt-metadata.csv')

/var/folders/8z/9__d79gd4k3767jz4_57082w0000gn/T/ipykernel_85627/1915165261.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/nyt-metadata.csv')

In [3]:
df.shape

(2183901, 20)

In [4]:
df.head()

,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,_id,word_count,uri,subsection_name
0,Article on upcoming New York Giants-Dallas Cow...,https://www.nytimes.com/2000/01/01/sports/pro-...,Article on upcoming New York Giants-Dallas Cow...,Waiting in the visiting locker room at Texas S...,D,2.0,The New York Times,[],"{'main': 'Playoffs or No, Dallas Provides The ...","[{'name': 'organizations', 'value': 'New York ...",2000-01-01 05:00:00+00:00,article,Sports Desk,Sports,"{'original': 'By Bill Pennington', 'person': [...",News,nyt://article/01111a48-3502-5021-8096-bc929379...,819.0,nyt://article/01111a48-3502-5021-8096-bc929379...,NaN
1,Jeanne C Pond letter expresses hope that spiri...,https://www.nytimes.com/2000/01/01/opinion/l-o...,Jeanne C Pond letter expresses hope that spiri...,To the Editor:,A,30.0,The New York Times,[],"{'main': 'On This First Day, a Fanfare for the...","[{'name': 'persons', 'value': 'Pond, Jeanne C'...",2000-01-01 05:00:00+00:00,article,Editorial Desk,Opinion,"{'original': '', 'person': [], 'organization':...",Letter,nyt://article/02328edc-dad1-5eb0-900e-917162e4...,122.0,nyt://article/02328edc-dad1-5eb0-900e-917162e4...,NaN
2,Many experts on Y2K computer problem report th...,https://www.nytimes.com/2000/01/01/us/1-1-00-t...,Many experts on Y2K computer problem report th...,As the world slid nervously yesterday through ...,A,10.0,The New York Times,[],"{'main': ""Internet's Cheering Squad Nervously ...","[{'name': 'subject', 'value': 'Electronic Mail...",2000-01-01 05:00:00+00:00,article,National Desk,U.S.,"{'original': 'By Barnaby J. Feder', 'person': ...",News,nyt://article/02a8f89b-153f-5b84-983c-e328de5b...,761.0,nyt://article/02a8f89b-153f-5b84-983c-e328de5b...,NaN
3,WILL the forces of globalism continue to push ...,https://www.nytimes.com/2000/01/01/news/vision...,NaN,WILL the forces of globalism continue to push ...,E,4.0,The New York Times,[],{'main': 'Economic Thinking Finds a Free Marke...,[],2000-01-01 05:00:00+00:00,article,The Millennium,Archives,"{'original': 'By Floyd Norris', 'person': [{'f...",News,nyt://article/0634d837-97b8-59b5-aa17-f90d1a89...,916.0,nyt://article/0634d837-97b8-59b5-aa17-f90d1a89...,NaN
4,SPECIAL TODAY The Millennium Envisioning th...,https://www.nytimes.com/2000/01/01/nyregion/in...,NaN,SPECIAL TODAY,A,1.0,The New York Times,[],"{'main': 'INSIDE', 'kicker': None, 'content_ki...",[],2000-01-01 05:00:00+00:00,article,Metropolitan Desk,New York,"{'original': '', 'person': [], 'organization':...",Summary,nyt://article/0654cc64-c37f-594d-9290-1ce578cd...,102.0,nyt://article/0654cc64-c37f-594d-9290-1ce578cd...,NaN

In [5]:
df.columns

Index(['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section',
       'print_page', 'source', 'multimedia', 'headline', 'keywords',
       'pub_date', 'document_type', 'news_desk', 'section_name', 'byline',
       'type_of_material', '_id', 'word_count', 'uri', 'subsection_name'],
      dtype='object')

## EDA

In [6]:
df['pub_date'] = pd.to_datetime(df['pub_date'], errors='coerce')
df['year'] = df['pub_date'].dt.year

In [7]:
df['year'].value_counts().sort_index()

year
2000.0    102800
2001.0    111312
2002.0    110050
2003.0    108072
2004.0    107947
2005.0    121485
2006.0    163480
2007.0    100973
2008.0    118895
2009.0    146939
2010.0    112448
2011.0    102969
2012.0    101255
2013.0     88984
2014.0     85951
2015.0     80252
2016.0     69489
2017.0     60414
2018.0     58849
2019.0     53258
2020.0     55493
2021.0     54529
2022.0     48706
2023.0     19349
Name: count, dtype: int64

In [8]:
df['decade'] = (df['year'] // 10) * 10
df.groupby('decade').size().sort_index()

decade
2000.0    1191953
2010.0     813869
2020.0     178077
dtype: int64

In [9]:
# Dropping these columns since I'm not going to use them in my data set
df = df.drop(['web_url', 'snippet', 'uri', '_id', 'multimedia', 'source', 'subsection_name'], axis = 1)

In [10]:
df.head()

,abstract,lead_paragraph,print_section,print_page,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,word_count,year,decade
0,Article on upcoming New York Giants-Dallas Cow...,Waiting in the visiting locker room at Texas S...,D,2.0,"{'main': 'Playoffs or No, Dallas Provides The ...","[{'name': 'organizations', 'value': 'New York ...",2000-01-01 05:00:00+00:00,article,Sports Desk,Sports,"{'original': 'By Bill Pennington', 'person': [...",News,819.0,2000.0,2000.0
1,Jeanne C Pond letter expresses hope that spiri...,To the Editor:,A,30.0,"{'main': 'On This First Day, a Fanfare for the...","[{'name': 'persons', 'value': 'Pond, Jeanne C'...",2000-01-01 05:00:00+00:00,article,Editorial Desk,Opinion,"{'original': '', 'person': [], 'organization':...",Letter,122.0,2000.0,2000.0
2,Many experts on Y2K computer problem report th...,As the world slid nervously yesterday through ...,A,10.0,"{'main': ""Internet's Cheering Squad Nervously ...","[{'name': 'subject', 'value': 'Electronic Mail...",2000-01-01 05:00:00+00:00,article,National Desk,U.S.,"{'original': 'By Barnaby J. Feder', 'person': ...",News,761.0,2000.0,2000.0
3,WILL the forces of globalism continue to push ...,WILL the forces of globalism continue to push ...,E,4.0,{'main': 'Economic Thinking Finds a Free Marke...,[],2000-01-01 05:00:00+00:00,article,The Millennium,Archives,"{'original': 'By Floyd Norris', 'person': [{'f...",News,916.0,2000.0,2000.0
4,SPECIAL TODAY The Millennium Envisioning th...,SPECIAL TODAY,A,1.0,"{'main': 'INSIDE', 'kicker': None, 'content_ki...",[],2000-01-01 05:00:00+00:00,article,Metropolitan Desk,New York,"{'original': '', 'person': [], 'organization':...",Summary,102.0,2000.0,2000.0

In [41]:
import ast

In [11]:
df = df[['lead_paragraph', 'headline', 'year']]

In [12]:
df.shape

(2183901, 3)

In [13]:
df = df.dropna()

In [14]:
df.shape

(2141935, 3)

In [16]:
def safe_literal_eval(x):
    try:
        # Check if x is a string that can be evaluated as a literal
        if isinstance(x, str):
            return ast.literal_eval(x)['main']
        else:
            return x  # If x is not a string, just return it as is
    except (ValueError, SyntaxError):
        # If there is an error during literal_eval, return NaN
        return pd.NA

df['headline'] = df['headline'].apply(safe_literal_eval)

In [17]:
df = df.dropna()

In [18]:
df.shape

(2141935, 3)

In [20]:
filtered_df = df[df['headline'].str.contains('community', case=False, na=False) |
                 df['lead_paragraph'].str.contains('community', case=False, na=False)]

In [21]:
filtered_df.shape

(17480, 3)

In [22]:
filtered_df

,lead_paragraph,headline,year
228,A group of Brooklyn community groups that sued...,Brooklyn Groups Back Use Of Park by Mets Farm ...,2000.0
278,In a gray lecture hall in the Oakton Community...,At-Home Fathers Step Out To Find They Are Not ...,2000.0
290,THEY never made the cover of People magazine. ...,Lives Lived Well And the Lesson That They Teach,2000.0
340,One of the country's largest producers of kosh...,A Venerable Kosher Winery Is Heading for New J...,2000.0
376,THEY never made the cover of People magazine. ...,Lives Lived Well And the Lessons That They Teach,2000.0
...,...,...,...
2183551,"PARIS — For two hours, in a mood of anguish an...","At Funeral for Nahel M. Near Paris, Anguish, A...",2023.0
2183636,What does owning restaurants have in common wi...,"Yemen Café, a Brooklyn Standby, Expands to Sta...",2023.0
2183802,"Perhaps not since the Holocaust, which saw the...","For Europe’s Jews, a World of Fear",2023.0
2183820,The New York City Marathon is a big race for m...,The Best Places to Watch the New York City Mar...,2023.0
2183835,The Irish writer Elaine Feeney’s atmospheric s...,"Grief, Community and Boat Building in a Moving...",2023.0

In [30]:
filtered_df['year'] = filtered_df['year'].astype('int')

/var/folders/8z/9__d79gd4k3767jz4_57082w0000gn/T/ipykernel_85627/562354046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['year'] = filtered_df['year'].astype('int')

In [31]:
filtered_df

,lead_paragraph,headline,year
228,A group of Brooklyn community groups that sued...,Brooklyn Groups Back Use Of Park by Mets Farm ...,2000
278,In a gray lecture hall in the Oakton Community...,At-Home Fathers Step Out To Find They Are Not ...,2000
290,THEY never made the cover of People magazine. ...,Lives Lived Well And the Lesson That They Teach,2000
340,One of the country's largest producers of kosh...,A Venerable Kosher Winery Is Heading for New J...,2000
376,THEY never made the cover of People magazine. ...,Lives Lived Well And the Lessons That They Teach,2000
...,...,...,...
2183551,"PARIS — For two hours, in a mood of anguish an...","At Funeral for Nahel M. Near Paris, Anguish, A...",2023
2183636,What does owning restaurants have in common wi...,"Yemen Café, a Brooklyn Standby, Expands to Sta...",2023
2183802,"Perhaps not since the Holocaust, which saw the...","For Europe’s Jews, a World of Fear",2023
2183820,The New York City Marathon is a big race for m...,The Best Places to Watch the New York City Mar...,2023
2183835,The Irish writer Elaine Feeney’s atmospheric s...,"Grief, Community and Boat Building in a Moving...",2023

In [33]:
filtered_df.groupby('year').count().iloc[:,0:1].rename(columns = {'lead_paragraph':'count'}).sort_index()

      count
year
2000   1225
2001   1325
2002   1211
2003   1094
2004   1277
2005   1151
2006   1524
2007    578
2008    907
2009   1021
2010    674
2011    584
2012    560
2013    471
2014    568
2015    499
2016    387
2017    351
2018    336
2019    364
2020    432
2021    426
2022    378
2023    137

In [8]:
features_to_balance = ['section_name', 'type_of_material', 'news_desk']

In [9]:
value_counts = {}
for feature in features_to_balance:
    value_counts[feature] = df[feature].value_counts()

In [10]:
value_counts

{'section_name': section_name
 Business Day                                          273011
 New York                                              241209
 U.S.                                                  206433
 Opinion                                               196852
 World                                                 186193
                                                        ...
 Slideshows                                                 2
 timestalks                                                 2
 Feeds                                                      1
 nyt://article/2aec1dad-e9d0-5a3c-931b-cc93890bb60e         1
 Book Review                                                1
 Name: count, Length: 88, dtype: int64,
 'type_of_material': type_of_material
 News                                                  1411142
 Review                                                 108448
 Letter                                                  92361
 Paid Death Notice                                       83102
 Op-Ed                                                   56485
                                                        ...
 Interview; Review                                           1
 Review; List                                                1
 List; Chronology                                            1
 Biography; Series                                           1
 nyt://article/2aec1dad-e9d0-5a3c-931b-cc93890bb60e          1
 Name: count, Length: 87, dtype: int64,
 'news_desk': news_desk
 Business              164953
 Foreign               107485
 Culture                96534
 National               92081
 Sports                 88128
                        ...
 Fashion & Styles           1
 Arts and Leisure           1
 Job Market Desk            1
 Metropoltian Desk          1
 House & Home/Style         1
 Name: count, Length: 535, dtype: int64}

## Data balancing

In [11]:
min_target_counts = {feature: value_counts[feature].min() for feature in features_to_balance}
min_target_counts

{'section_name': 1, 'type_of_material': 1, 'news_desk': 1}

In [12]:
desired_sample_size = 500000

In [13]:
balanced_dataset = pd.DataFrame()

In [14]:
for feature in tqdm(features_to_balance):
    unique_values = value_counts[feature].index
    for unique_value in unique_values:
        if len(balanced_dataset) >= desired_sample_size:
            break  # Stop when the desired sample size is reached
        samples_to_select = min_target_counts[feature]
        selected_indices = df[df[feature] == unique_value].sample(min(samples_to_select, desired_sample_size - len(balanced_dataset)), random_state=42).index
        balanced_dataset = pd.concat([balanced_dataset, df.loc[selected_indices]])

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3/3 [07:49<00:00, 156.65s/it]

In [15]:
remaining_samples = desired_sample_size - len(balanced_dataset)
if remaining_samples > 0:
    oversample_indices = df.sample(remaining_samples).index
    balanced_dataset = pd.concat([balanced_dataset, df.loc[oversample_indices]])

In [16]:
balanced_dataset.shape

(500000, 13)

In [17]:
balanced_dataset.reset_index(drop=True, inplace=True)
balanced_dataset.head()

,abstract,lead_paragraph,print_section,print_page,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,word_count
0,NaN,NaN,NaN,NaN,{'main': 'The pitch for a Japanese blockbuster...,[],2005-09-21 05:00:00+00:00,article,NaN,Business Day,"{'original': 'By Miki Tanikawa', 'person': [{'...",News,699.0
1,The governor said the reduction in spending wo...,ALBANY  Gov. David A. Paterson said on Wednes...,A,28.0,{'main': 'Paterson Warns More Cuts May Be Need...,"[{'name': 'subject', 'value': 'Budgets and Bud...",2009-05-21 03:11:46+00:00,article,Metro,New York,"{'original': 'By Nicholas Confessore', 'person...",News,656.0
2,The actress Daryl Hannah sat in a tree for 17 ...,"LOS ANGELES, June 8  High up in a walnut tree...",A,18,{'main': 'Hollywood Stars Shine Down on Protes...,"[{'name': 'organizations', 'value': 'ANNENBERG...",2006-06-09 04:00:00+00:00,article,National,U.S.,"{'original': 'By Randal C. Archibold', 'person...",News,901.0
3,Trent Lott's demise as leader of the Senate Re...,Trent Lott's demise as leader of the Senate Re...,A,25.0,"{'main': 'An End to the Southern Strategy?', '...",[],2002-12-23 05:00:00+00:00,article,Editorial Desk,Opinion,"{'original': 'By Linwood Holton', 'person': [{...",Op-Ed,822.0
4,"In a video, the 87-year-old Tibetan spiritual ...","The Dalai Lama, the Tibetan spiritual leader, ...",A,10.0,{'main': 'Dalai Lama Apologizes Over an Exchan...,"[{'name': 'subject', 'value': 'Buddhism', 'ran...",2023-04-10 14:39:16+00:00,article,Foreign,World,"{'original': 'By Sameer Yasir', 'person': [{'f...",News,499.0

## Feature engineering

In [18]:
def str_to_dict(row):
    if isinstance(row, str):
        try:
            return ast.literal_eval(row)
        except (ValueError, SyntaxError):
            pass
    return {}

In [19]:
balanced_dataset['headline_dict'] = balanced_dataset['headline'].apply(str_to_dict)
balanced_dataset['keywords_dict'] = balanced_dataset['keywords'].apply(str_to_dict)
balanced_dataset['byline_dict'] = balanced_dataset['byline'].apply(str_to_dict)

In [20]:
balanced_dataset.head()

,abstract,lead_paragraph,print_section,print_page,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,word_count,headline_dict,keywords_dict,byline_dict
0,NaN,NaN,NaN,NaN,{'main': 'The pitch for a Japanese blockbuster...,[],2005-09-21 05:00:00+00:00,article,NaN,Business Day,"{'original': 'By Miki Tanikawa', 'person': [{'...",News,699.0,{'main': 'The pitch for a Japanese blockbuster...,[],"{'original': 'By Miki Tanikawa', 'person': [{'..."
1,The governor said the reduction in spending wo...,ALBANY  Gov. David A. Paterson said on Wednes...,A,28.0,{'main': 'Paterson Warns More Cuts May Be Need...,"[{'name': 'subject', 'value': 'Budgets and Bud...",2009-05-21 03:11:46+00:00,article,Metro,New York,"{'original': 'By Nicholas Confessore', 'person...",News,656.0,{'main': 'Paterson Warns More Cuts May Be Need...,"[{'name': 'subject', 'value': 'Budgets and Bud...","{'original': 'By Nicholas Confessore', 'person..."
2,The actress Daryl Hannah sat in a tree for 17 ...,"LOS ANGELES, June 8  High up in a walnut tree...",A,18,{'main': 'Hollywood Stars Shine Down on Protes...,"[{'name': 'organizations', 'value': 'ANNENBERG...",2006-06-09 04:00:00+00:00,article,National,U.S.,"{'original': 'By Randal C. Archibold', 'person...",News,901.0,{'main': 'Hollywood Stars Shine Down on Protes...,"[{'name': 'organizations', 'value': 'ANNENBERG...","{'original': 'By Randal C. Archibold', 'person..."
3,Trent Lott's demise as leader of the Senate Re...,Trent Lott's demise as leader of the Senate Re...,A,25.0,"{'main': 'An End to the Southern Strategy?', '...",[],2002-12-23 05:00:00+00:00,article,Editorial Desk,Opinion,"{'original': 'By Linwood Holton', 'person': [{...",Op-Ed,822.0,"{'main': 'An End to the Southern Strategy?', '...",[],"{'original': 'By Linwood Holton', 'person': [{..."
4,"In a video, the 87-year-old Tibetan spiritual ...","The Dalai Lama, the Tibetan spiritual leader, ...",A,10.0,{'main': 'Dalai Lama Apologizes Over an Exchan...,"[{'name': 'subject', 'value': 'Buddhism', 'ran...",2023-04-10 14:39:16+00:00,article,Foreign,World,"{'original': 'By Sameer Yasir', 'person': [{'f...",News,499.0,{'main': 'Dalai Lama Apologizes Over an Exchan...,"[{'name': 'subject', 'value': 'Buddhism', 'ran...","{'original': 'By Sameer Yasir', 'person': [{'f..."

In [21]:
def extract_value_from_dict(d, key):
    if isinstance(d, dict):
        return d.get(key, np.nan)
    else:
        return np.nan

In [22]:
balanced_dataset['title'] = balanced_dataset['headline_dict'].apply(lambda x: extract_value_from_dict(x, 'main'))
balanced_dataset['kicker'] = balanced_dataset['headline_dict'].apply(lambda x: extract_value_from_dict(x, 'kicker'))
balanced_dataset['author'] = balanced_dataset['byline_dict'].apply(lambda x: extract_value_from_dict(x, 'original')).str.replace('^By ', '', regex=True)

In [23]:
def extract_value_from_ldict(d, key):
    if isinstance(d, list):
        items = []
        for dict_ in d:
            if dict_.get('name', None) == key:
                items.append(dict_.get('value', None))
        if not items:
            return np.nan 
        return items
    else:
        return np.nan

In [24]:
balanced_dataset['organizations'] = balanced_dataset['keywords_dict'].apply(lambda x: extract_value_from_ldict(x, 'organizations'))
balanced_dataset['people'] = balanced_dataset['keywords_dict'].apply(lambda x: extract_value_from_ldict(x, 'people'))
balanced_dataset['subjects'] = balanced_dataset['keywords_dict'].apply(lambda x: extract_value_from_ldict(x, 'subjects'))
balanced_dataset['glocations'] = balanced_dataset['keywords_dict'].apply(lambda x: extract_value_from_ldict(x, 'glocations'))

In [25]:
balanced_dataset.head()

,abstract,lead_paragraph,print_section,print_page,headline,keywords,pub_date,document_type,news_desk,section_name,...,headline_dict,keywords_dict,byline_dict,title,kicker,author,organizations,people,subjects,glocations
0,NaN,NaN,NaN,NaN,{'main': 'The pitch for a Japanese blockbuster...,[],2005-09-21 05:00:00+00:00,article,NaN,Business Day,...,{'main': 'The pitch for a Japanese blockbuster...,[],"{'original': 'By Miki Tanikawa', 'person': [{'...",The pitch for a Japanese blockbuster,None,Miki Tanikawa,NaN,NaN,NaN,NaN
1,The governor said the reduction in spending wo...,ALBANY  Gov. David A. Paterson said on Wednes...,A,28.0,{'main': 'Paterson Warns More Cuts May Be Need...,"[{'name': 'subject', 'value': 'Budgets and Bud...",2009-05-21 03:11:46+00:00,article,Metro,New York,...,{'main': 'Paterson Warns More Cuts May Be Need...,"[{'name': 'subject', 'value': 'Budgets and Bud...","{'original': 'By Nicholas Confessore', 'person...",Paterson Warns More Cuts May Be Needed This Year,None,Nicholas Confessore,NaN,NaN,NaN,[New York State]
2,The actress Daryl Hannah sat in a tree for 17 ...,"LOS ANGELES, June 8  High up in a walnut tree...",A,18,{'main': 'Hollywood Stars Shine Down on Protes...,"[{'name': 'organizations', 'value': 'ANNENBERG...",2006-06-09 04:00:00+00:00,article,National,U.S.,...,{'main': 'Hollywood Stars Shine Down on Protes...,"[{'name': 'organizations', 'value': 'ANNENBERG...","{'original': 'By Randal C. Archibold', 'person...",Hollywood Stars Shine Down on Protest to Prese...,Los Angeles Journal,Randal C. Archibold,"[ANNENBERG FOUNDATION, Trust for Public Land]",NaN,NaN,[Los Angeles (Calif)]
3,Trent Lott's demise as leader of the Senate Re...,Trent Lott's demise as leader of the Senate Re...,A,25.0,"{'main': 'An End to the Southern Strategy?', '...",[],2002-12-23 05:00:00+00:00,article,Editorial Desk,Opinion,...,"{'main': 'An End to the Southern Strategy?', '...",[],"{'original': 'By Linwood Holton', 'person': [{...",An End to the Southern Strategy?,None,Linwood Holton,NaN,NaN,NaN,NaN
4,"In a video, the 87-year-old Tibetan spiritual ...","The Dalai Lama, the Tibetan spiritual leader, ...",A,10.0,{'main': 'Dalai Lama Apologizes Over an Exchan...,"[{'name': 'subject', 'value': 'Buddhism', 'ran...",2023-04-10 14:39:16+00:00,article,Foreign,World,...,{'main': 'Dalai Lama Apologizes Over an Exchan...,"[{'name': 'subject', 'value': 'Buddhism', 'ran...","{'original': 'By Sameer Yasir', 'person': [{'f...",Dalai Lama Apologizes Over an Exchange With a Boy,None,Sameer Yasir,NaN,NaN,NaN,[Dharamsala (India)]

In [26]:
balanced_dataset.drop(['headline', 'keywords', 'byline', 'headline_dict', 'keywords_dict', 'byline_dict'], inplace=True, axis=1)

In [27]:
balanced_dataset.head()

,abstract,lead_paragraph,print_section,print_page,pub_date,document_type,news_desk,section_name,type_of_material,word_count,title,kicker,author,organizations,people,subjects,glocations
0,NaN,NaN,NaN,NaN,2005-09-21 05:00:00+00:00,article,NaN,Business Day,News,699.0,The pitch for a Japanese blockbuster,None,Miki Tanikawa,NaN,NaN,NaN,NaN
1,The governor said the reduction in spending wo...,ALBANY  Gov. David A. Paterson said on Wednes...,A,28.0,2009-05-21 03:11:46+00:00,article,Metro,New York,News,656.0,Paterson Warns More Cuts May Be Needed This Year,None,Nicholas Confessore,NaN,NaN,NaN,[New York State]
2,The actress Daryl Hannah sat in a tree for 17 ...,"LOS ANGELES, June 8  High up in a walnut tree...",A,18,2006-06-09 04:00:00+00:00,article,National,U.S.,News,901.0,Hollywood Stars Shine Down on Protest to Prese...,Los Angeles Journal,Randal C. Archibold,"[ANNENBERG FOUNDATION, Trust for Public Land]",NaN,NaN,[Los Angeles (Calif)]
3,Trent Lott's demise as leader of the Senate Re...,Trent Lott's demise as leader of the Senate Re...,A,25.0,2002-12-23 05:00:00+00:00,article,Editorial Desk,Opinion,Op-Ed,822.0,An End to the Southern Strategy?,None,Linwood Holton,NaN,NaN,NaN,NaN
4,"In a video, the 87-year-old Tibetan spiritual ...","The Dalai Lama, the Tibetan spiritual leader, ...",A,10.0,2023-04-10 14:39:16+00:00,article,Foreign,World,News,499.0,Dalai Lama Apologizes Over an Exchange With a Boy,None,Sameer Yasir,NaN,NaN,NaN,[Dharamsala (India)]

## Data cleaning

In [28]:
balanced_dataset['print_page'].unique()

array([nan, 28.0, '18', 25.0, 10.0, '1', 9.0, 4.0, 20.0, 12.0, '4', 3.0,
       84.0, '6', 1.0, '21', '2', 6.0, 21.0, '3', '8', 2.0, 16.0, '20',
       "{'main': 'How do players get the correct draft hats?', 'kicker': None, 'content_kicker': None, 'print_headline': '', 'name': None, 'seo': None, 'sub': None}",
       '12', 23.0, '22', 8.0, 5.0, 64.0, 43.0, 7.0, 19.0, 24.0, 18.0,
       11.0, 30.0, 26.0, 14.0, 38.0, '11', 15.0, 32.0, 17.0, 106.0, 37.0,
       '17', 59.0, '5', 104.0, 96.0, 86.0, 50.0, 41.0, 22.0, 58.0, 77.0,
       34.0, 55.0, 130.0, 27.0, 200.0, 100.0, 110.0, 51.0, 40.0, 903.0,
       '16', 94.0, 29.0, 74.0, 81.0, 35.0, '23', '19', 31.0, '14', 33.0,
       '10', 52.0, '7', '27A', '31', '13', '15', '25', '30', 13.0, '24',
       39.0, '28', '26', 47.0, '226', '62', 42.0, '9', 45.0, '32', 70.0,
       '41', '80', 134.0, 44.0, 220.0, 46.0, 48.0, 66.0, '88', '27',
       144.0, '29', 124.0, 49.0, 174.0, '64', '31A', '39', '33', 56.0,
       '60', 75.0, 78.0, '35', 182.0, 107.0, '25A', 65.0, 67.0, '111',
       '49', '70', 63.0, 131.0, '92', '23A', '44', '17B', '108', 126.0,
       53.0, 87.0, '27B', 57.0, '59', '19A', 109.0, 91.0, 132.0, 36.0,
       80.0, 127.0, '34', '38', 54.0, '45', '50', '36', 186.0, 210.0,
       90.0, '66', 147.0, '101', '48', '182', 60.0, '21A', 62.0, '21B',
       '29B', 166.0, 105.0, 89.0, 113.0, '21`', '52', 164.0, 82.0, 214.0,
       68.0, 79.0, '40', 163.0, 141.0, '33A', '42', 92.0, 158.0, 122.0,
       '23B', 99.0, '53', 136.0, 71.0, 128.0, 114.0, '46', 72.0, 120.0,
       93.0, 102.0, 150.0, 188.0, '56', '116', 196.0, '17A', 98.0, '83',
       69.0, '146', 212.0, '29A', 83.0, '19B', '37', 168.0, '58', '128',
       '47', '74', '136', '43', '102', '63', 201.0, 138.0, '110', 160.0,
       218.0, 108.0, '54', '31B', '65', 76.0, 148.0, 115.0, '190', '25B',
       '94', 282.0, 240.0, 73.0, 61.0, 169.0, 176.0, 112.0, '41B', '35A',
       '71', 156.0, '76', 162.0, 152.0, '86', 116.0, '123', 95.0, '68',
       '122', 123.0, 178.0, 97.0, 276.0, 154.0, '67', '45B', 177.0, '37B',
       '103', '200', '96', 208.0, '118', 121.0, '144', '82', 219.0, '33B',
       '15A', 306.0, '90', 88.0, '72', 149.0, '77', 119.0, '112', 198.0,
       253.0, 85.0, 146.0, '41A', '84', 140.0, '57', '400', '39A', '106',
       '37A', '85', 135.0, '35B', '172', 204.0, '98', '114', '79', '143',
       238.0, 111.0, '!', 129.0, 193.0, '152', '158', 118.0, 228.0, '160',
       191.0, 101.0, '78', '145', '119', '181', '100', 117.0, 167.0,
       206.0, 192.0, 157.0, 142.0, 170.0, '44A', 155.0, '69', '120',
       'A25', 103.0, '105', '113', '81', 137.0, 125.0, '91', '104', '126',
       280.0, '174', '61', 202.0, '87', '31A.', '162', '156', '141',
       '170', '93', '154', '89', '196', '48A', '15B', 267.0, '39B', 183.0,
       '268', 194.0, '147', '73', '97', 143.0, 190.0, '186', '55', 284.0,
       '208', '134', '48B', '180', 216.0, 274.0, '107', 261.0, '216',
       172.0, '163', 236.0, '150', '51', 133.0, 211.0, 821.0, '75', 199.0,
       '184', 222.0, 159.0, '132', 245.0, 189.0, '166', '109', '95',
       250.0, '138', '148', '192', 180.0], dtype=object)

In [29]:
import re

In [30]:
def extract_numbers(text):
    if isinstance(text, str): 
        numbers = re.findall(r'\d+', text)
        if numbers:
            return int(numbers[0])
        else:
            return np.nan
    return text

In [31]:
balanced_dataset['print_page'] = balanced_dataset['print_page'].apply(extract_numbers).astype('Int64')

In [32]:
balanced_dataset['print_page'].unique()

<IntegerArray>
[<NA>,   28,   18,   25,   10,    1,    9,    4,   20,   12,
 ...
  133,  211,  821,  199,  184,  222,  159,  245,  189,  250]
Length: 222, dtype: Int64

In [11]:
balanced_dataset

NameError: name 'balanced_dataset' is not defined